*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    display: block;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

nav{
    justify-content: space-between;
    align-items: center;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

header nav .padding-nav:not(#logo):hover{
    border-bottom: 1px solid black;
}

.display-inline{
    display: inline-block;
}

.display-block{
    display: block;
}

.align-items{
    align-items: center;
}

.padding-nav{
    padding: 24px 12px;
}

nav a{
    text-decoration: none;
    color: black;
}

#logo{
    margin-left: 15px;
    margin-right: 10px;
}

.margin-top{
    margin-top: 40px;
}

.margin-bottom{
    margin-bottom: 120px;
}

.margin-right{
    margin-right: 40px;
}

.margin-left{
    margin-left: 16px;
}

.padding-bottom{
    padding-bottom: 23px;
}

.margin-bottom-2{
    margin-bottom: 55px;
}

.margin-bottom-top{
    margin-top: 40px;
    margin-bottom: 40px;
}

.justify-content{
    justify-content: space-between;
}

.align-center{
    text-align: center;
}

.text-indent{
    text-indent: -0.6em;
}

.blue{
    content: #0061FF;
}

.bg-blue{
    background-color: #0061FF;
    height: 37px;
    padding-top: 10px;
    text-align: center;
}

.btn-blue{
    padding: 10px 15px;
    background-color: #0061FF;
    color: white;
    text-decoration: none;
}

.btn-blue-2{
    padding: 10px 20px;
    background-color: #0061FF;
    color: white;
    text-decoration: none;
}

.btn-white{
    padding: 10px 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;
}

.grey-text{
    color: grey;
    display: block;
    margin-bottom: 50px;
}

.container{
    width: 70%;
    margin: auto;
}

.box-1{
    width: 30%;
    padding-right: 40px;
}

.first-p-header{
    margin-bottom: 45px;
    padding-top: 83px;
    line-height: 1.4em;
}

.arrow{
    font-size: 50px;
}

.box-2{
    width: 70%;
}

#jumbo h1{
    font-size: 84px;
    padding-top: 50px;
}

#jumbo{
    background-color: #b4d0e7;
}

#jumbo i{
    font-size: 55px;
}

.box-2 img{
    width: 100%;
    position: relative;
    top: 80px;
}

.container-2{
    width: 60%;
    margin: auto;
    margin-bottom: 150px;
}

main h2{
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 45px;
}

.table{
    justify-content: space-between;
    margin-bottom: 50px;
}

.col-1{
    flex-basis: calc(90% / 3);
    border: 1px solid #D6D6D9;
    margin-top: 70px;
}

.col-2{
    flex-basis: calc(90% / 3);
    border: 1px solid #D6D6D9;
    margin-top: 70px;
}

.col-3{
    flex-basis: calc(90% / 3);
    border: 1px solid #D6D6D9;
    margin-top: 70px;
}

.i-top{
    padding: 10px;
}

.hr-100{
    width: 100%;
    background-color: #D6D6D9;
}

.container-3 hr{
    background-color: #D6D6D9;
    margin-top: 40px;
    margin-bottom: 45px;
    width: 20%;

}

.container-3{
    padding: 40px 40px 35px 50px;
}

.container-3 h3,h3{
    font-size: 25px;
}

.container-3 h4,h4{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.single-box{
    border: 1px solid #D6D6D9;
    padding-bottom: 40px;
    margin-bottom: 150px;
}

.col-1-single{
    width: 60%;
    padding-top: 40px;
    padding-left: 35px;
}

.col-2-single{
    width: 30%;
    padding-top: 50px;
    padding-left: 40px;
}

#trova-un-partner{
    display: flex;
    margin-bottom: 150px;
}

#single-img{
    width: 60%;
}

#single-img > img{
    width: 100%;
}

#single-img-desc{
    width: 40%;
    padding: 60px 50px;
}

#single-img-desc > h3{
    margin-bottom: 20px;
}

#single-img-desc span{
    margin-bottom: 40px;
    line-height: 1.4em;
}

.btn-white:hover{
    opacity: 0.6;
}

.btn-blue:hover{
    opacity: 0.6;
}

.btn-blue-2:hover{
    opacity: 0.6;
}

.bg-blue:hover{
    opacity: 0.6;
}

#operazioni{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.container-4{
    width: 90%;
    margin: auto;
}

.card{
    width: 30%;
    margin-bottom: 70px;
}

#operazioni img{
    width: 100%;
}

#operazioni h3{
    margin-bottom: 30px;
}

#operazioni span{
   line-height: 1.4em;
}

#squares{
    display: flex;
}

#squares .green{
    border: 15px solid #d1e9cd;
}

.big-box{
    display: flex;
    width: calc(100vw / 3);
    flex-wrap: wrap;
    
}

.mini-box{
    width: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green{
    background-color: #a2d39b;
    fill: white;

}

.bordeaux{
    background-color: #61082b;
    fill: white;
}

.sky-blue{
    background-color: #0093ce;
    fill: white;
}

.red{
    background-color: #ff1c1c;
    fill: white;
}

.red-2{
    background-color: #d5001f;
    fill: white;
}

.light-blue{
    background-color: #b4d0e7;
    fill: white;
}

.deep-blue{
    background-color: #0d2481;
    fill: white;
}

.yellow{
    background-color: #ffd830;
    fill: white;
}

.mini-box img:not(.sky-blue img){
    width: 50%;
    height: 50%;
}

#squares .big-box:nth-child(2){
    background-color: #f5f5f5;
    padding: 30px;
    display: block;
}

#squares .big-box:nth-child(2) span{
    line-height: 1.4em;
    margin-bottom: 50px;
    display: block;
}

#squares .big-box:nth-child(2) img{
    width: 50%;
}

.big-box hr{
    width: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}


#Dropbox-business{
    display: flex;
    background-color: #b4d0e7;
    align-items: center;
}

#Dropbox-business h2{
    color: #61082b;
}

.box-50{
    width: 50%;
}

.box-50:first-child{
    padding-left: 400px;
}

.box-50:last-child{
    padding-left: 250px;
    padding-top: 50px;
}

#Dropbox-business h2{
    margin-bottom: 150px;
}

.question-1, .question-2, .question-3{
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.box-qst-1{
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid black;
}

.box-qst-2{
    width: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid black;
}

.box-qst-1 h3{
    font-size: 20px;
}

#questions i{
    padding-left: 170px;
}

.answer-1, .answer-2, .answer-3{
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
    display: none;
}

#questions:last-child{
    border-bottom: 1px solid black;
}

.question-1:hover .answer-1{
    display: block;
}

.question-2:hover .answer-2{
    display: block;
}

.question-3:hover .answer-3{
    display: block;
}

footer{
    background-color: black;
    padding-top: 100px;
}

#footer{
    display: flex;
    justify-content: space-between;
}

.ft-box{
    width: 18%;
}

#footer a{
    display: block;
    color: white;
    margin-bottom: 1.4em;
    text-decoration: none;
}

#footer h3{
    color: white;
    margin-bottom: 20px;
}

#hr-footer{
    width: 100px;
    border-color: white;
    margin-bottom: 40px;
    margin-top: 70px;
}

footer i, span{
    color: grey;
    margin-bottom: 40px;
}

footer span{
    margin-left: 5px;
    margin-right: 5px;
}